@{
    ViewData["Title"] = "Home Page";
}


<style>
        /* Temel Stil Dosyası */
    body {
        background-color: forestgreen;
    }

    .anasayfabasligi {
        background-color: forestgreen;
        padding: 15px;
        border-radius: 150px;
        text-align: center;
        margin: 50px, ;
    }

    #Baslik1 {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    section {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
    }

    .content-box {
        background-color: #fff;
        border: 10px solid darkblue;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        flex: 1;
        box-sizing: border-box;
    }

    .GirisYap-button {
        display: inline-block;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #3498db;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .GirisYap:hover {
        background-color: #2980b9;
    }


    



</style >

<div class="anasayfabasligi">
        <h1 class="mt-2 mt-2">İngilizce Öğrenme Sitesine Hoş Geldiniz</h1>


        <h1 id="Baslik1">English Learning Content (İngilizce Öğrenme İçeriği)</h1>


        <section>
            <div class="content-box">
                <h2>English Stories</h2>
                <p>Short stories to improve your English skills.</p>
            </div>

            <div class="content-box">
                <h2>English Grammar</h2>
                <p>Learn and practice English grammar rules.</p>
            </div>

            <div class="content-box">
                <h2>English Idioms</h2>
                <p>Explore common English idioms and their meanings.</p>
            </div>
        </section>

        <a href="Auth/Login" class="GirisYap-button">Giriş Yap</a>
</div>

